<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
	<f:view contentType="text/html">
		<h:head>
			<title>Nelson App - Home</title>
			<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
		</h:head>
		<h:body>
			<p:panel id="home-panel" header="Welcome">
				<f:facet name="actions">
					<form action="#{request.contextPath}/log-out" method="post">
						<button
							id="logout-btn"
							type="submit"
							class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
							<span class="ui-button-text ui-c"> Logout </span>
						</button>
					</form>
				</f:facet>
				<p:outputLabel value="To be implemented" />
			</p:panel>
		</h:body>
	</f:view>
</html>