<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
	<f:view contentType="text/html">
		<h:head>
			<title>Nelson App - Login</title>
			<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
		</h:head>
		<h:body>
			<p:panel header="Welcome">
				<form action="#{request.contextPath}/sign-in" method="post">
					<center>
						<p:panelGrid columns="1" layout="grid" class="ui-fluid">
							<p:inputText id="login-input" placeholder="Login" />
							<p:password id="password-input" placeholder="Password" />
							
							<button
								id="login-btn"
								type="submit"
								class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
								<span class="ui-button-text ui-c"> Login </span>
							</button>

							<ui:fragment rendered="${!empty param['error']}">
								<div id="messages" class="ui-messages ui-widget" aria-live="polite">
									<div class="ui-messages-error ui-corner-all">
										<span class="ui-messages-error-icon"></span>
										<ul>
											<li role="alert" aria-atomic="true"><span class="ui-messages-error-summary">Invalid login/password</span></li>
										</ul>
									</div>
								</div>
							</ui:fragment>
							
							<ui:fragment rendered="${!empty param['logout']}">
								<div id="messages-info" class="ui-messages ui-widget" aria-live="polite">
									<div class="ui-messages-info ui-corner-all">
										<span class="ui-messages-info-icon"></span>
										<ul>
											<li role="alert" aria-atomic="true"><span class="ui-messages-info-summary">You have been successfully disconnected</span></li>
										</ul>
									</div>
								</div>
							</ui:fragment>
							
							<p:outputLabel id="register-label" value="No account ? You can always register :" />
							<p:button id="register-btn" value="Register" />
						</p:panelGrid>
					</center>
				</form>
			</p:panel>
		</h:body>
	</f:view>
</html>